@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 500;
}

.font-fraunces {
	font-family: Fraunces, serif;
}
